@model WarehouseSystem.Web.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.Body = "flat-blue login-page";
}

<div class="container">
    <div class="login-box">
        <div>
            <div class="login-form row">
                <div class="col-sm-12 text-center login-header">
                    <i class="login-logo fa fa-connectdevelop fa-5x"></i>
                    <h4 class="login-title">WS-NG</h4>
                </div>
                <div class="col-sm-12">
                    <div class="login-body">
                        <div class="progress hidden" id="login-progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Register...
                            </div>
                        </div>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Create a new account.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="control">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="control">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <div class="control">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="control">
                                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            </div>
                            <div class="control">
                                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                            <div class="control">
                                @Html.LabelFor(m => m.Position, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
                            </div>
                            <div class="control">
                                <strong>Image</strong>
                                <input type="file" name="UploadedImage" />
                            </div>
                            <div class="control">
                                <div class="login-button text-center">
                                    <input type="submit" class="btn btn-primary" value="Register" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Log in", "Login")
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
