@model IEnumerable<WarehouseSystem.Web.Areas.Private.ViewModels.Products.SupplierProductViewModel>
@{
    ViewBag.Title = "My Products";
}


<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">

                        <div class="card-title">
                            <div class="title">
                                @ViewBag.Title -
                                @Html.ActionLink("Add new Product", "Create", "Products", new { area = "Private" }, null)
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="datatable table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Sku</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Size</th>
                                    <th>Delivery Unit</th>
                                    <th>Blocked</th>
                                    <th>Command</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Image</th>
                                    <th>Sku</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Size</th>
                                    <th>Delivery Unit</th>
                                    <th>Blocked</th>
                                    <th>Command</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (product.ImageId != null)
                                            {
                                                <img src="@Url.Action("Image", "Partial", new { id = product.ImageId.Value })" alt="@product.Name" class="img-circle" width="80" height="60"/>
                                            }
                                            else
                                            {
                                                <img src="~/Content/Theme/img/profile/profile-1.jpg" class="img-circle" width="80" height="60"/>
                                            }
                                        </td>
                                        <td>@product.Sku</td>
                                        <td>@product.Name</td>
                                        <td>@product.Category</td>
                                        <td>@product.Size</td>
                                        <td>@product.DeliveryUnit</td>
                                        <td>@product.IsBlocked</td>
                                        <td>
                                            <a href="/product/@product.Id" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
