<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WS-NG</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr")
    @RenderSection("css", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body class='@ViewBag.Body'>
    <nav class="navbar navbar-inverse navbar-fixed-top  navbar-affix" role="navigation" data-spy="affix" data-offset-top="60">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <div class="icon fa fa-paper-plane"></div>
                    <div class="title">WS-NG</div>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse " aria-expanded="true">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="active">
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="active">
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    @RenderBody()
    <hr />
    <footer class="app-footer">
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year, WS-NG.</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/toastr")
    @Html.Partial("_Toastr")
    @Scripts.Render("~/bundles/theme")
    @RenderSection("scripts", required: false)
</body>
</html>
